<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Voting system</title>
  <link rel="stylesheet" href="/pollsList.css">
</head>

<body>
  <header>
    <!-- NAVIGATION DRAWER -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <div id="nav-drawer">
      <div class="nav-content">
        <a href="/">Home</a>
        <a href="/myPage">My Page</a>
        <a href="#">Useful information</a>
        <a href="/pollsList">Vote on a poll</a>
        <a href="/map">Interactive map</a>
        <a href="/auth/logout">Logout</a>
      </div>
    </div>
    <!-- NAVIGATION DRAWER -->
    <br />

    <h1>Voting system</h1>

  </header>
  <section>
    <svg id="darkMode" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="sun"
        d="M55 27.5C55 42.6878 42.6878 55 27.5 55C12.3122 55 0 42.6878 0 27.5C0 12.3122 12.3122 0 27.5 0C42.6878 0 55 12.3122 55 27.5Z"
        fill="#FFA800" transform="translate(0, 0)" />
    </svg>
  </section>

  <main>

    <legend>Here you can see available polls where you can vote</legend>

    <a href="/createPoll" class="create-poll">Create Poll</a>

    <section class="poll-list">
      <h2>Latest Polls</h2>
      <tr>
        <th>titleText</th>
        <br />
        <th>descriptionText</th>
        <br />
        <th>idCampus</th>
        <br />
        <th>idStudies</th>
        <br />
        <th>question1</th>
        <br />
        <th>question2</th>
        <br />
        <th>question3</th>
        <br />
      </tr>
      {{#each polls}}
      <tr>
        <td>{{this.titleText}}</td>
        <td>{{this.descriptionText}}</td>
        <td>{{this.idCampus}}</td>
        <td>{{this.idStudie}} </td>
        <td>{{this.question1}}</td>
        <td>{{this.question2}}</td>
        <td>{{this.question3}}</td>
        <td><a href="viewpoll/{{this.id}}" class="create-poll">Vote </a></td>
      </tr>
      {{/each}}
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Polls List</p>
  </footer>
  <script src="/anime.min.js"></script>
  <script src="/app.js"></script>
</body>

</html>